// 1.Nav bar 



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    scroll-behaviour:smooth;
}
// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', serif

h1{
  font-family: 'Playfair Display', serif
}
h2{
  font-family: 'Playfair Display', serif
}
h3{
  font-family: 'Playfair Display', serif
}
h4{
  font-family: 'Playfair Display', serif
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.btn-st{
    // color: rgb(109, 53, 53);
    // background-color: rgb(255, 191, 166);
    // font-family: sarif;
    border: none;
    border-radius: 50px;
    padding: 0px 15px;
    
}
.btn-nd{
    color: #fff;
    background-color: #425811;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    padding: 7px 35px;
    &:hover{
        background-color: #007523;
        
        transition: all .3s ease-in-out;
    }
    

}


// =====================HEADER START=======================
.navbar{
    img{
        height: 50px;
    }
}
.navbar-toggler:focus{
    box-shadow: none;
}
#myNavbar{
    margin-top: 11px;
}
.menu-item{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
.nav-link{
    padding: 0rem 1rem !important;

}
.navbar-nav{
    li{
        margin-bottom: 10px;
        a{
            &:hover{
                color: #dba100 !important;
                transition: all .3s ease-in;
            }
        }
    }
    .btn-st{
        background-color: #425811;
        
        margin-top: -5px;
        padding: 5px 0;
        &:hover{
            background-color: #007523;
            
            transition: all .3s ease-in-out;
        }
        .menu-item{
            color: #fff;
           
            
            
        }
    }
}

// =====================HEADER START END=======================

// =========================BANNER SECTION==============================
.banner{
    padding-top: 14%;
    // background-color: rgb(0, 111, 175);
   
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #fff;
    .btn-nd{
        background-color: #ffd89e;
        color: #000;
        &:hover{
            background-color: #c47500;
            
            transition: all .3s ease-in-out;
        }

    }
    @media only screen and (max-width:768px) {
        
        text-align: center;
    }
    .text{
        margin-bottom: 55px;
        h1{
            font-size: 73px;
        }
        h5{
            font-size: 22px;
        }
      
        @media only screen and (max-width:960px) {
        
            h1{
                font-size: 40px;
            }
            h5{
                font-size: 10px;
            }
        }
    }
   
    .logo2{
        img{
            height: 152px;
            // padding-bottom: -12px;
            margin-bottom: -36px;
        }
        p{
            font-size: 12px;
            margin-bottom: 30px;
        }
    }
}
// =========================BANNER SECTION END==============================

 /* return to top==============  */
 #return-to-top {
    position: fixed;
    bottom: 70px;
    right: 20px;
    background: #000000;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9)
}

#return-to-top:hover i {
    color: #fff;
    top: 5px
}







//===================================Overview section start===============================

.overview{
    padding: 75px 0;
//    padding-top: 25px;
   background: #fff5e5;
    // background: rgb(216, 206, 206);
    // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,248,231,1) 100%);
    @media only screen and (max-width:700px) {
        padding-bottom: 40px;
        text-align: center;
        h1{
            font-size: 30px;
        }
    }
    .btn-nd{
        background-color: #425811;
        color: #fff;
        
        &:hover{
            background-color: #007523;
            transition: all .3s ease-in-out;
        }
        @media only screen and (max-width:700px) {
           margin: 25px 0;
            
            
        }
    }
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 86px;
        height: auto;
        background: url();
        // background-color: #dba100;
    }
   .br-y {
    z-index: 99;
    position: relative;
       h3{
       
        font-weight: 700;
        position: relative;
        @media only screen and (max-width:900px) {
        
            h3{
                font-size: 25px;
            }
        }
        &::after{
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 56px;
            height: 2px;
            background-color: #dba100;
            @media only screen and (max-width:900px) {
                left: 41%;
                
                
            }
        }
    }
   
}
.right-f-svg {
    img{
        height: 189px;
        position: absolute;
        bottom: -50px;
        right: -97px;
        width: auto;
    }

    animation: right 5s infinite;
    animation-timing-function: ease-in-out;

        @keyframes right {
            0%{
                bottom: 0px;
                transform: rotate(
                    335deg);
            }
            25%{
                bottom: 15px;
                transform: rotate(
                    358deg);
            }
            50%{
                bottom: 30px;
                transform: rotate(
                    305deg);
            }
            75%{
                bottom: 15px;
                transform: rotate(
                    305deg);
            }
            100%{
                bottom: 0px;
                transform: rotate(
                    335deg);
            }
            
        }

}
.left-f-svg {
    img{
        height: 240px;
        position: absolute;
        top: -32px;
        left: -57px;
        width: auto;
    }
    animation: right 5s infinite;
    animation-timing-function: ease-in-out;

        @keyframes right {
            0%{
                top: -32px;
                transform: rotate(
                    335deg);
            }
            25%{
                top: -22px;
                transform: rotate(
                    358deg);
            }
            50%{
                top: -12px;
                transform: rotate(
                    305deg);
            }
            75%{
                top: -22px;
                transform: rotate(
                    305deg);
            }
            100%{
                top: -32px;
                transform: rotate(
                    335deg);
            }
            
        }
}
}

.over{
    display: inline-flex;
    margin-top: 3.5rem;
    img{
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 30px;
    margin-right: 12px;

    }
    h3{
        font-size: 18px;
        font-weight: 700;
        line-height:1.2rem;
        @media only screen and (min-width:700px) and (max-width:900px){
        
            
                font-size: 13px;
            
        }
    }
    @media only screen and (max-width:700px) {
        display: block;
        margin-top: 1.5rem;
        position: relative;
        img{
            height: 52px;
            width: 52px;
        }
        h3{
            font-size: 13px;
            &::after{
                content: '';
                position: absolute;
                bottom: -4px;
                left: 36%;
                width: 99px;
                height: 2px;
                background-color: #dba100;
            }
        }
    }
        
   
}


// .overview-photo{
//     background: url("../img/2nd.png");
//     background-position: center;
//     background-size: cover;
//     height: 430px;
    
// }

//===================================Overview section end================================

//====================================Pricing secton start==================================


.pricing{

    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    @media only screen and (max-width:768px) {
        text-align: center;
       overflow: hidden;
            
        
        
    }
    .btn-nd {
        background-color:#425811 ;
        color: #fff;
        &:hover{
            background-color: #007523;
            transition: all .3s ease-in-out;
        }
        @media only screen and (max-width:900px) {
            margin-bottom: 22px;
            
            
        }
    }
  
                h1{
                    font-size: 26px;
                    font-weight: bold;
                    position: relative;
                    padding-bottom: 12px;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 2px;
                        left: 0;
                        width: 56px;
                        height: 2px;
                        background-color: #dba100;
                        @media only screen and (max-width:700px) {
                          
                               left: 43%;
                           
                        }
                    }
                }
    .pri-block{
        width: 80%;
        display: inline-flex;
        .icon-d{
            height: 5rem;
            width: 5rem;
            padding: 1.3rem;
            border-radius: 50%;
            background: #ffd89e;
            margin-right: 30px !important;
            img{
                max-width:100% ;
            }
        }

        img{
            // height: 52px;
            // width: 52px;
            // border: none;
            // border-radius: 30px;
            // margin-right: 12px;
            // margin-top: 5px;
        }
        .pri-text{
            h2{
                font-size: 2rem;
                font-family: Montserrat, sans-serif;
                font-weight: 700;

            }
            h4{
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
            }
        }

        @media only screen and (max-width:900px) {
       
            display: block !important;
            width: 100%;
            .pri-text{
                h2{
                    font-size: 1.2rem;
                }

            }

        
    }

    }
    // .pricing-img{
    //     background: url("../img/pri-img.png");
    //     background-position: center;
    //     background-size: cover;
    //     height: 430px;
        
        
    // }




    .float-r-img{
        img{
            position: absolute;
            z-index: -1;
            right: -83px;
            top: -67px;
            
            height: 174px;
            animation: right 5s infinite;
            animation-timing-function: ease-in-out;
        
                @keyframes right {
                    0%{
                        
                        transform: rotate(
                            348deg);
                    }
                    25%{
                      
                        transform: rotate(
                            43deg);
                    }
                    50%{
                    
                        transform: rotate(
                            10deg);
                    }
                    75%{
                       
                transform: rotate(302deg);
                    }
                    100%{
                        
                        transform: rotate(
                            348deg);
                    }
                    
                }
        }
       
    }

    .float-l-img{
        img{
            position: absolute;
            z-index: -1;
            left: -83px;
            bottom: -67px;
            
            height: 174px;
            animation: left 5s infinite;
            animation-timing-function: ease-in-out;
        
                @keyframes left {
                    0%{
                        
                        transform: rotate(
                            360deg);
                    }
                    25%{
                      
                        transform: rotate(
                            298deg);
                    }
                    50%{
                    
                        transform: rotate(
                            300deg);
                    }
                    75%{
                       
                        transform: rotate(328deg);
                    }
                    100%{
                        
                        transform: rotate(
                            360deg);
                    }
                    
                }
           
        }
       
    }


}




//====================================Pricing secton end==================================




//========================================Project Gallery START=========================
.project-gallery{
    background-color: hsl(15, 57%, 97%);
    @media only screen and (max-width:700px) {
        padding: 25px 0;
    }
}

.gal-text {
    width: 70%;
    h1{
        font-size: 28px;  
        font-weight: 700;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: -5px;
            left: 43%;
            width: 99px;
            height: 2px;
            background-color: rgb(219, 161, 0);
        }
    }
    @media only screen and (max-width:700px) {
        width: 100%;
    }
}

#building-slider {
    z-index: 1;
    .item{
        text-align: center;
        // -webkit-transform: scale3d(0.8, 0.8, 1); 
        // transform: scale3d(0.8, 0.8, 1); 
        
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
       z-index: 1;
    }
    .center{
        // position: absolute;
        z-index: 99;
        .item{
            // -webkit-transform: scale3d(1, 1, 1); 
            // transform: scale3d(1.3, 1.3, 1.3); 
            transform: scale(1.3);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
           z-index: 999;
        }
        
    }
    .owl-stage-outer{
    //    height: 550px;

       padding-top: 80px;
       padding-bottom: 80px;
       @media only screen and (max-width:700px) {
        height: 100%;
    }
    }
}


//========================================Project Gallery END===========================\


// ===========================================Project Amenties start==========================
.amenties{
   .card-1,.card-2,.card-3,.card-4{
       
        // height: 270px;
        
        // background:  url('../img/amenties.PNG');
        // background-color:#0000000e ;
        // background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url('../img/amenties.PNG');
        // background-position: center;
        // background-size: cover;
        color: #fff;

       
        .amen-hovar{
            display: none;
            .btn-nd{
                background-color:#ffd89e ;
                color: #000;
                &:hover{
                    background-color: #c47500;
                  
                    transition: all .3s ease-in-out;
                }
            }
          
        }
        &:hover{
            // background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/amenties.PNG');
            
            transition: all .3s ease-in;

            // background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
            .amen-hovar{
                display: block;
                transition: all .3s ease-in-out;
            }
            
                .overlay{
                    height: 100%;
                    width: 100%;
                    background: rgba(0,0,0,0.5);
                    padding-top: 20%;
                    transition: all .3s ease-in-out;
                }
           
        }
    
   }

    // .ba-img1{
       
    //     padding-right: 8px ;
    //     @media only screen and (max-width:700px) {
    //         padding-right:0;
    //         margin-bottom: 12px;
    //     }
    // }
    
    .ba-img2{   
        
        
        padding-bottom: 8px;
        @media only screen and (max-width:700px) {
            padding-right:0;
            margin-bottom: 12px;
        }
    
    }
    .ba-img3{
        
        padding-right: 8px;
        @media only screen and (max-width:700px) {
            padding-right:0;
            margin-bottom: 12px;
        }
    }
 

    .container-fluid{
        .col-md-4 {
        h3{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: -19px;
                left: 36%;
                width: 99px;
                height: 2px;
                background-color: #dba100;
            }
            @media only screen and (max-width:700px) {
                margin: 40px 0;
                &::after{
                    left: 35%;
                    bottom: -12pxs;

                }
            }
        }
        }
    }
}

// ===========================================Project Amenties end======================/====
// ===========================================Contact US Form modal=================================

.modal-img{
   .over{
        display: block;
        margin: 0 auto;
        text-align: center;
        img{
            width: 50px;
            height: 50px;
        }
        h3{
            &::after{
                bottom: 4px;
            }
        }
   }
}





// ===========================================Contact US Form modal End=================================







// ===========================================Location Proximities start======================/====


.location{
    // position: relative;
    // &::after{
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     right: -12px;
    //     background: url('/img/pata.png');
    //     height: ;
    // }
    
    h3{
        position: relative;
        margin: 2rem 0;
        &::after{
            content: "";
            position: absolute;
            bottom: -5px;
            left: 40%;
            width: 99px;
            height: 2px;
            background-color: rgb(219, 161, 0);
        }
    }
   
    .li-st{
        display: inline-flex;
        margin-bottom: 12px;
        z-index: 99;
        width: 100%;
        img{
            height: 15px;
            width: 15px;
            border: none;
            border-radius: 35px;
        }
        h4{
            font-size: 14px;
            margin-top: -4px;
            margin-left: 4px;
            
        }
    }

    .right-f-svg {
        img{
            height: 189px;
            position: absolute;
            bottom: 0;
            right: -97px;
            width: auto;
        }
        animation: right 5s infinite;
    animation-timing-function: ease-in-out;

        @keyframes right {
            0%{
                top: -32px;
                transform: rotate(
                    335deg);
            }
            25%{
                top: -22px;
                transform: rotate(
                    358deg);
            }
            50%{
                top: -12px;
                transform: rotate(
                    305deg);
            }
            75%{
                top: -22px;
                transform: rotate(
                    305deg);
            }
            100%{
                top: -32px;
                transform: rotate(
                    335deg);
            }
            
        }
    }
    .left-f-svg {
        img{
            height: 240px;
            position: absolute;
            top: -32px;
            left: -57px;
            width: auto;
        }
        animation: right 5s infinite;
    animation-timing-function: ease-in-out;

        @keyframes right {
            0%{
                top: -32px;
                transform: rotate(
                    335deg);
            }
            25%{
                top: -22px;
                transform: rotate(
                    358deg);
            }
            50%{
                top: -12px;
                transform: rotate(
                    305deg);
            }
            75%{
                top: -22px;
                transform: rotate(
                    305deg);
            }
            100%{
                top: -32px;
                transform: rotate(
                    335deg);
            }
            
        }
    }
}




// ===========================================Location Proximities End======================/====


//===================================MAP START============================================
.map{
    
    @media only screen and (max-width:700px) {
        text-align: center;
        margin: 20px 0;
     }
     h3{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: -5px;
            left: 40%;
            width: 99px;
            height: 2px;
            background-color: rgb(219, 161, 0);
        }
     }
}
//===================================MAP END============================================



// =========================================footer start=====================================

.footer{
    margin-top: 10px;
    padding: 47px 73px 0px;
    color: #fff;
    background-color: #425811;

    .fot-img1{
        .icon{
            display: inline-flex;
            h3{
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
            }
            img{
                height: 25px;
                margin-right: 12px;
                width: auto;
                border-radius: 0;
            }
        }
    img{
        border: none;
        border-radius: 30px;
        height: 40px;
        width: 130px;
    }
}
    h2{
        font-size: 13px;
        margin-top: 30PX;
        font-family: 'Montserrat', sans-serif;

    }
    h3{
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 12px;
    }

    .mid-menu{
        h3{
            font-size: 14px;
            font-family: 'Montserrat', sans-serif;
            color: #dba100;
        }
        p{
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
        @media only screen and (max-width:700px) {
            .row{
                .col-md-6{
                    width: auto;
                }
            }
          
         }
    }
    .last-menu{
        h3{
            color: #dba100;
            font-size: 14px;
            margin-bottom: 22px;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
        }
        input{
            background-color: transparent;
            outline: none;
            border: none;
            margin-bottom: -12px;
            &::placeholder{
                font-size: 11px;
                color: rgb(204, 204, 204);
                
            }
        }
        .btn-submit{
            background: transparent;
            border: 1px solid rgb(204, 204, 204);
            border-radius: 25px;
            color: #dba100;
            padding: 4px 10px;
            font-size: 11px;
            &:hover{
                background-color: #dba100;
                transition: all .3s ease-in;
                color: #000;
            }
        }
        .input-form{
            border-bottom: 1px solid rgb(204, 204, 204);
            padding: 0;
            width: 75%;
           
            padding-bottom: 5px;
            // display: inline-flex;
            input{
                width: 120px;
            }
        }
        img{
            margin-top: 12px;
            width: 65%;
            height: auto;
            @media only screen and (max-width:700px) {
                width: 45%;
             }
        }
    }
    .social{
        display: inline-flex;
        img{
            padding: 5px;
            margin-top: 30px;
            width: 100%;
        }
        @media only screen and (max-width:700px) {
            width: 45%;
         }
    }
    
        .bor-bot{
            border-bottom: 1px solid rgb(204, 204, 204);
        }
       
   .copy{
    border-top: 1px solid rgb(204, 204, 204);
       h4{
           font-size: 12px;
           padding: 25px 0;
           font-family: 'Montserrat', sans-serif;
         
       }
       @media only screen and (max-width:700px) {
        text-align: center;
        h4{
            font-family: 'Montserrat', sans-serif;
            padding: 5px 0;
        }
     }
   }


   @media only screen and (max-width:700px) {
    padding:51px 12px 3px ;
 }

}
 




















// =========================================footer End=====================================
// ====+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==========
.wrapper{
    overflow: hidden;
}
// ====+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==========


a{
    text-decoration: none;
    color: #fff;
    &:hover{
        color: #dba100;
        transition: all .3s ease-in;
    }
}

// ===============================
/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}


/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/
/*

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
*/

// site map===============================================================================

// * =============floor plan================ */
.w3-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    size: 40px;
    border: navajowhite;
    margin: 12px auto;
}

.codepen-container div {
    box-sizing: border-box;
    transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
}

.icetab {
    align-self: center;
    border: 2px solid var(--light-blue);
    display: inline-block;

    margin: 0px;
    color: black;
    cursor: pointer;
    border-right: 0px;
}

.icetab:last-child {
    border-right: 2px solid var(--light-blue);
}

@media(max-width:450px) {
    .icetab {
        align-self: center;
        border: 1px solid var(--light-blue);
        display: inline-block;
        max-width: 33%;
        font-size: 12px;
        padding: 0px;
        letter-spacing: 0px;
        color: black;
        cursor: pointer;

    }

    .tabcontent {
        position: absolute;
        left: 0px;
        top: 0px;
        background: #fff;
        width: 100%;
        border-top: 0px;

        border-top: 0px;
        transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
}

#icetab-content {
    overflow: hidden;
    position: relative;

}

@media(min-width:500px) {
    .tabcontent {
        position: absolute;
        left: 21%;
        top: 0px;
        background: #fff;
        width: 60%;
        border-top: 0px;
        align-self: center;
        border-top: 0px;
        transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
}

.tabcontent:first-child {
    position: relative;
    align-self: center;
}

.tabcontent.tab-active {
    border-top: 0px;
    display: block;
    align-self: center;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
}


/* A tiny wee bit of visual formating */

.codepen-container {
    max-width: 100%;
    
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

@media(max-width:450px) {
    .codepen-container {
        max-width: 99%;
        margin: 0px
    }
}

#contactform .title {
    color: var(--light-blue);
    text-align: center;
    letter-spacing: 14px;
    text-transform: uppercase;
    font-size: 17px;
    margin: 40px 0px;
}

.tabcontent {
    padding: 40px;

}

.icetab {
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.current-tab {
  border-bottom: 2px solid #007523;
  transition: all .3s ease-in;
}


// =============side-button====================================
.side-btn {
    float: right;
    transform: rotate(
-90deg);
    right: -75px;
    position: fixed;
    top: 290px;
    background-color: rgb(66, 88, 17);
    padding: 12px 25px;
    font-weight: 500;
    border-top-left-radius: 37px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 37px;
    letter-spacing: 0.5px;
    color: rgb(255, 255, 255);
    z-index: 9;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
    font-size: 14px;
    border: 0px;
}

// ===========================RESPONSIVE=================================

 @media only screen and (max-width: 700px) {
    .footer .copy {
      text-align: center;
    }
    .footer .copy h4 {
      font-family: 'Montserrat', sans-serif;
      padding: 5px 0;
    }
 }

  @media only screen and (max-width: 700px) {
    .footer {
      padding: 51px 12px 3px ;
    }
  }
  .wrapper {
    overflow: hidden;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  @media only screen and (min-width: 992px) {
    .right-menu {
      position: absolute;
      right: 0;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 960px) {
    nav li {
      margin-bottom: 14px;
    }
    .overview .left-f-svg img {
      height: 136px;
      position: absolute;
      top: -40px;
      left: -57px;
      width: auto;
    }
    .overview .right-f-svg img {
      height: 116px;
      position: absolute;
      width: auto;
    }
    .pricing .pri-block .icon-d {
      margin-right: auto !important;
    }
    .pricing .float-l-img img {
      height: 100px;
      left: -50px;
      bottom: -43px;
    }
    .pricing .float-r-img img {
      height: 100px;
    }
    .location .left-f-svg img {
      height: 176px;
      top: -6px;
      left: -28px;
    }
    .location .right-f-svg img {
      height: 116px;
      bottom: -6px;
      right: -28px;
    }
  }
  
  @media only screen and (max-width: 482px) {
      .map {
          iframe{
              height: 50vh;
          }
      }
      .banner{
        .text{
          margin-top: 30%;
        }
    }    
  }
  


  @media only screen and (min-width: 480px)  and (max-width: 575px) {
   .over{
       h3{
           &::after{
               left: 40%;
           }
       }
   }
   .banner{
    .text{
      margin-top: 30%;
    }
  }
  }
  @media only screen and(min-width:577px) and (max-width: 768px) {
   .over{
       h3{
           &::after{
            bottom: -4px;
            left: 14%;
            width: 67px;
           }
       }
   }
  }
  @media only screen and (max-width: 360px) {
 .banner{
     height: 75vh;
 }
 .banner{
    .text{
      margin-top: 30%;
    }
  }
  }
